extends layout

block content
  .container
    br
    if (user)
      p.lead Welcome back, #{user.first_name}! &nbsp;
        form(role='form', action="/logout",method="get", style='max-width: 300px;')
            button.btn.btn-primary(href="/logout") Logout

      br
      br
      p.lead Room #{RoomData.room_number}

      if (user.isAdmin)
        form(role='form', action="/room/#{RoomData.id}/add",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='text', name="day_of_the_week", placeholder='Enter Day of the Week' required='')
            button.btn.btn-primary(type='submit') Add Day
      
      br
      p.lead Click on the day below to see full schedule
      br
      table
        tbody
          for day in DayData
            tr
              td 
                a(href='/room/#{RoomData.id}/#{day.id}') #{day.day_of_the_week}